@{
    ViewBag.Title = "Draggable";
}
<link href="~/Content/Draggable.css" rel="stylesheet" />
<h2>
    Draggable
</h2>
<div id="test-container" class="test_container">
    <div id="gallery-one" class="gallery_one">
        <div id="box1" class="box">
            ONE
        </div>
        <div id="box2" class="box">
            TWO
        </div>
        <div id="box3" class="box">
            THREE
        </div>
        <div id="box4" class="box">
            FOUR
        </div>
    </div>
    <div id="gallery-two" class="droppable gallery_two">
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        galleryDragAndDrop("#test-container", "#gallery-one", "#gallery-two", ".box");
    });
</script>
<script src="~/Scripts/DragAndDropjs.js"></script>