

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<button id="GenMatches">Generate Fixture</button>
<div id="matches">

</div>



<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/knockout-3.4.0.js"></script>
<script src="~/Scripts/GenMatchesJs.js"></script>
    
    
    @*<table>
        <thead>
            <tr>
                <th>
                    Round
                </th>
                <th>
                    Game
                </th>
            </tr>
        </thead>
        <tbody data-bind="foreach: games">
            <tr>
                <td data-bind="text: Round"></td>
                <td data-bind="text: Game"></td>
            </tr>
        </tbody>
    </table>*@