@model List<Dictionary<Events.WebApplication.GenerateMatches.Match,int>>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@foreach (var round in Model)
{   <br></br>
    @Html.Label("Round: " + round.FirstOrDefault().Value)
    foreach (var match in round)
    {
               
        <br></br>
            @Html.Label(match.Key.HomeTeam.Name+" vs "+ match.Key.GuestTeam.Name)
       
        }
   
}